page-about {
    .buttons {
        .fab-md-in-list {
          width: auto;
          border-radius: 7px;
          color: blue;
          margin-left: -85px;
          font-size: 1.5rem;
        }
      }
}
